<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>logser</servlet-name>
        <servlet-class>login.logser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regser</servlet-name>
        <servlet-class>Registration.regser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rushii</servlet-name>
        <servlet-class>Registration.regser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartservlet</servlet-name>
        <servlet-class>cart.cartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emptycart</servlet-name>
        <servlet-class>cart.emptycart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>urlpackjservlet</servlet-name>
        <servlet-class>url.urlpackjservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logser</servlet-name>
        <url-pattern>/url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regser</servlet-name>
        <url-pattern>/rser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rushii</servlet-name>
        <url-pattern>/rushi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartservlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emptycart</servlet-name>
        <url-pattern>/ecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>urlpackjservlet</servlet-name>
        <url-pattern>/urll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
